html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
    background-color: #ffffff;
}
ol,
ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 25px;
    height: 64px;

    justify-content: space-between;
    align-items: center;
    background-color: #78aaff;
    color: white;
}

nav {
    position: fixed;

    width: 200px;
    padding: 0 10px 10px 10px;
}

.nav_ul {
    border-radius: 10px;
    border: 3px solid #78aaf5;

    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    padding: 20px 10px;
}

.nav_li {
    color: #000000;
    margin-top: 5px;
    cursor: pointer;
    padding: 5px 0;
    width: 180px;
    border-radius: 5px;
}
.nav_li:hover {
    background-color: #78aaff;
    color: #ffffff;
}

section {
    margin-top: 90px;
    margin-left: 220px;
    margin-right: 30px;
}

.section_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
}
.section_book {
    width: 200px;
    height: 340px;
    background-color: #f2f2f2;
    margin: 0 20px 30px 20px;

    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 810 */

.section_book h2 {
    margin: 10px 0px;
    flex-wrap: wrap;
    font-weight: 500;
}

.section_book p {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    text-overflow: ellipsis;
}

.section_book div {
    height: 70px;
    display: flex;
    align-items: center;
}

.section_book i {
    color: #808080;
    cursor: pointer;
}

.section_book i:hover {
    color: red;
}
.book_img {
    width: 150px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heart_img {
    cursor: pointer;
}

@media (max-width: 810px) {
    .section_ul {
        justify-content: center;
    }
}
