html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
p {
    font-family: 'Gamja Flower', cursive;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
body {
    margin: 0 auto;
    width: 450px;
    background-color: white;
}
ol,
ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

header {
    padding: 20px 20px;
    color: white;
}

.wrapper {
    background: linear-gradient(to bottom, skyblue, purple);
    border: none;
    height: calc(var(--vh, 1vh) * 100);
    max-width: var(--app-max-width, 768px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    border: none;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    box-shadow: 5px 5px 5px 5px gray;
}

.day {
    grid-row: 1;
    font-weight: bold;
    text-align: center;
}
.todo {
    position: relative;
    text-align: center;
}

.todo p {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.todo i {
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 0;
}
.date {
    text-align: center;
}

#main {
    height: 400px;
    width: 210px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    right: 100px;
}

.main_ul {
    margin: 20px;
    height: 150px;
    color: white;
}

.main_ul section {
    border-radius: 10px;
    background-color: #bd97e2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main_ul li {
    margin: 7px 5px;
    display: flex;
    align-items: center;
}

/* input[class='heart_checkbox'] {
    display: none;
} */
.hidden_checkbox {
    display: none;
}

.hidden_checkbox:checked + .show_checkbox {
    background: url('./image/heart.svg') no-repeat;

    background-size: contain;
}

.show_checkbox {
    width: 20px;
    height: 20px;

    background: url('./image/heart_off.svg') no-repeat;
    background-size: contain;
}

.plusImgBtn {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
}
.footer_btn {
    background-color: #bd97e2;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

.footer_btn p {
    color: white;
    font-size: large;
}

.my_category {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 85vh;
}

.todo_modal {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    z-index: 2;
    position: absolute;

    top: 40%;
    width: 300px;
    height: 200px;

    background-color: #f2f2f2;
    border-radius: 10px;
}

.modalText {
    position: relative;
    bottom: 20px;
}

.modalBtn {
    background-color: #bd97e2;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.closeBtn {
    width: 20px;
    height: 20px;

    background: url('./image/x-button.png') no-repeat;
    background-size: 20px 20px;
    cursor: pointer;

    position: relative;
    left: 120px;
    bottom: 40px;
}
